body{
    background-color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    width: 900px;
    margin: auto;

}

#title, .subtitle, .post_title {
    color: aqua;
}

.post {
    background-color: white;
    padding: 30px;
    border: 3px solid black;
    margin: 10px;
    border-radius: 15px;
}

.imagem {
    border-radius: 100%;
}

.hacker{
    width: 100%;
}